body {
  margin: 0px;
  background-color: rgb(20, 27, 37);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(51, 22, 13);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(22, 2, 43, 0.375);
}

img {
  display: none;
}
